<%= turbo_frame_tag "modal" do %>
  <div class="modal fade show d-block" data-controller="modals">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Description</h5>
          <%= link_to "", "#", data: {turbo_frame: "_top"}, class: "btn-close"%>
        </div>
        <div class="modal-body">
          <%= form_with model: @user, url: update_description_user_path(@user), method: :patch do |form| %>
            <%= form.text_area :description, class: "form-control" %>
            <%= form.submit "Save", class: "btn btn-primary mt-2" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
