<div class="mt-5 container h">
  <div class="card p-4 shadow-lg rounded-3 h-100">
    <div class="profile-header">
        <!-- Background container -->
        <div class="cover-photo" style="background-image: url(<%= asset_path('default_bg.jpg') %>);">
        </div>
        
        <!-- Profile Photo Container -->
        <div class="profile-photo">
            <%= image_tag("default_pfp.jpg", class: "profile-img") %>
        </div>
    </div>
    
    <div class="mt-4">
      <h4><%= @user.display_name %></h4>
      <p><%= @user.description.presence || "This user has not added a bio yet." %></p>
    </div>

    <h3 class="mt-4">Posts</h3>
    <% if @user.posts.any? %>
        <div class="scrollable-post-list mt-3" style="width: 60%;">
            <% @user.recent_posts.each do |post| %>
            <%= render "posts/post", post: post %>
            <% end %>
        </div>
    <% else %>
        <p class="text-center"> This user has no posts yet. </p>
    <% end%>
  </div>
</div>
