<%= turbo_page_requires_reload %>
<div class="mt-5 container h">
  <div class="card p-4 shadow-lg rounded-3 h-100">
    <div class="profile-header">
        <!-- Background container -->
        <% if @user.background_image.attached? %>
          <div class="background-photo" style="background-image: url('<%= url_for(@user.background_image) %>');">
        <% else %>
          <div class="background-photo" style="background-image: url(<%= asset_path('default_bg.jpg') %>);">
        <% end %>
          <% if current_user? %>
            <div class="dim-overlay"></div>
            <%= link_to "Edit Background Image", 
              edit_background_image_user_path(@user),
              data: { turbo_frame: "modal"},
              class: "hover-text"
            %>
          <% end %>
        </div>
        
        <!-- Profile Photo Container -->
        <div class="profile-photo-wrapper">
            <% if current_user? %>
              <%= render "shared/profile_photo", user: @user, profile_photo_class: "profile-photo profile-photo-editable" %>

              <%= link_to "Edit Profile Photo", 
                edit_photo_user_path(@user),
                data: { turbo_frame: "modal"},
                class: "hover-text"
              %>
            <% else %>
              <%= render "shared/profile_photo", user: @user, profile_photo_class: "profile-photo" %>
            <% end%>
        </div>
    </div>
    
    <div class="mt-4">
      <h4><%= @user.display_name %></h4>
      <% if current_user? %>
        <%= link_to @user.description.presence || "Click to add a bio.", 
          edit_description_user_path(@user), 
          data: { turbo_frame: "modal" },
          class: "description" 
        %>
      <% else %>
        <p><%= @user.description.presence || "This user has not added a bio yet." %></p>
      <% end %>
    </div>

    <h3 class="mt-4">Posts</h3>
    <% if @user.posts.any? %>
        <div class="scrollable-post-list mt-3" style="width: 60%;">
            <% @user.recent_posts.each do |post| %>
            <%= render "posts/post", post: post %>
            <% end %>
        </div>
    <% else %>
        <p class="text-center"> This user has no posts yet. </p>
    <% end%>
  </div>
</div>
