<%# img_srcs and post_id given %>
<div id="carouselPost<%=post_id%>" class="carousel slide" data-interval="false">
  <div class="carousel-indicators">
    <% img_srcs.each_with_index do |_,index| %>
        <button type="button" 
            data-bs-target="#carouselPost<%=post_id%>"
            data-bs-slide-to="<%= index %>"
            aria-label="Slide <%=index + 1%>" 
            class="<%= 'active' if index == 0 %>"
            <%= 'aria-current="true"' if index == 0 %>
        ></button>
    <% end %>
  </div>
  <div class="carousel-inner">
    <% img_srcs.each_with_index do |img,index| %>
        <div class="carousel-item <%= 'active' if index == 0 %>">
            <div class="ratio ratio-16x9 mb-2">
                <%= image_tag img, class: "post-image" %>
            </div>
        </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselPost<%=post_id%>" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselPost<%=post_id%>" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>