<div class = "card mb-3">
    <div class = "card-body">
        <!-- Profile Image and display name -->
        <div class="d-flex align-items-center mb-3">
            <%= render "shared/profile_photo", user: post.user, profile_photo_class: "profile-photo-small" %>
            <span class="ms-2 username"><%= post.user.display_name%></span>
            <span class="ms-auto me-3 text-secondary" 
                <% if post.created_at != post.updated_at %>
                    title="<%= post.formatted_timestamp_hover %>"
                <% end %> >
                <%= post.formatted_timestamp_primary %>
            </span>
        </div>

        <!-- Image and description-->
       <% if post.images.attached? %>
            <% if post.images.length > 1 %>
                <%= render "shared/image_carousel", post_id: post.id, img_srcs: post.images %>
            <% else %>
                <div class="ratio ratio-16x9 mb-2">
                    <%= image_tag post.images.first, class: "post-image" %>
                </div>
            <% end %>
        <% else %>
            <div class="ratio ratio-16x9 mb-2">
                <%= image_tag "default_post.jpg", class: "post-image" %>
            </div>
        <% end %>

        <p class="post-description"><%= post.description %></p>
    </div>
</div>