<div class = "card mb-3">
    <div class = "card-body">

        <%= render partial: 'users/user_banner', locals: {
                user: post.user,
                secondary_text: post.formatted_timestamp_primary,
                secondary_text_hover: post.formatted_timestamp_hover,
                right_partial: "posts/post_dropdown",
                right_partial_params: {post: post}
            }
        %>

        <%= render "posts/post_image_carousel", post: post %>

        <p class="post-description"><%= post.description %></p>

        <div class="d-flex justify-content-around align-items-center border-top pt-1">
            <%= render "posts/like_button", post: post %>
            <div class="flex-fill text-center">
                <%= link_to post_path(post, anchor: "comment-form"), id: "post-comment-link", 
                    class: "btn btn-light w-100 #{'disabled' if current_user.nil?}", aria_disabled: current_user.nil? do %>
                    Comment (<%=post.comments.count%>)
                <% end %>
            </div>
        </div>
    </div>
</div>