<div class = "card mb-3">
    <div class = "card-body">
        <!-- Profile Image and display name -->
        <div class="d-flex align-items-center mb-3">
            <%= render "shared/profile_photo", user: post.user, profile_photo_class: "profile-photo-small" %>
            <div>
                <div class="ms-2 username"><%= post.user.display_name%></div>
                <div class="ms-2 text-secondary fs-7" 
                    <% if post.created_at != post.updated_at %>
                        title="<%= post.formatted_timestamp_hover %>"
                    <% end %> >
                    <small><%= post.formatted_timestamp_primary %></small>
                </div>
            </div>
            <div class="dropdown ms-auto me-2">
                <button class="btn btn-light p-1" type="button" id="ellipsisDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <%# <i class="bi bi-three-dots-vertical"></i> %>
                    ...
                </button>
                <ul class="dropdown-menu" aria-labelledby="ellipsisDropdown">
                    <li><%= link_to "View Profile", user_path(post.user_id), class: "dropdown-item" %></li>
                    <% if current_user?(post.user) %>
                        <li><%= link_to "Edit post", edit_post_path(post), class: "dropdown-item" %></li>
                        <%# TODO: link to modal with "are you sure?" %>
                        <li><%= link_to "Delete post", destroy_confirmation_post_path(post), data: {turbo_frame: "modal"}, class: "dropdown-item text-danger" %></li>
                    <% end %>
                </ul>
            </div>
        </div>

        <!-- Image and description-->
       <% if post.images.attached? %>
            <% if post.images.length > 1 %>
                <%= render "shared/image_carousel", post_id: post.id, img_srcs: post.images %>
            <% else %>
                <div class="ratio ratio-16x9 mb-2">
                    <%= image_tag post.images.first, class: "post-image" %>
                </div>
            <% end %>
        <% else %>
            <div class="ratio ratio-16x9 mb-2">
                <%= image_tag "default_post.jpg", class: "post-image" %>
            </div>
        <% end %>

        <p class="post-description"><%= post.description %></p>
    </div>
</div>