<div class="show-post-container">
    <%= render "posts/post", post: @post %>
    <section>
        <h3>Comments</h3>

        <%= render "posts/comment_form" %>

        <ul class="list-group mt-3">
            <% @post.comments.each do |comment| %>
                <li class="list-group-item">
                    <b><%=comment.user.display_name%></b>: <%= comment.text %>
                    <button class="btn btn-light p-1" type="button" id="commentDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        ...
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="commentDropdown">
                        <li><%= link_to "View Profile", user_path(comment.user_id), class: "dropdown-item" %></li>
                        <% if current_user?(comment.user) %>
                            <li><%= link_to "Delete comment", post_comment_path(comment.post_id, comment.id), data: { turbo_method: :delete }, class: "dropdown-item text-danger" %></li>
                        <% end %>
                    </ul>
                </li>
            <% end %>
        </ul>
    </section>
</div>
