<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Social Rails" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag  "turbo" ,type: "module" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <link rel="icon" type="image/x-icon" href="<%= asset_path('favicon.ico') %>">
  </head>

  <body class="d-flex flex-column min-vh-100">
    <% if flash[:notice] %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= flash[:notice] %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= flash[:alert] %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>

    <nav class="navbar navbar-expand-lg navbar-light bg-danger">

      <a class="navbar-brand d-flex align-items-center ps-3" href="/">
         <%= image_tag "favicon.png", size: "40x40", class: "d-inline-block align-top me-2 brand-image" %>
        <span class="text-dark">Social Rails</span>
      </a>

      <!-- Toggle button for mobile navigation -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <%# Login/Logout buttons %>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <% if session[:user_id] %>
            <li class="nav-item d-flex align-items-center me-3">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle bg-light text-dark" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= User.find(session[:user_id]).display_name %>
                </button>
                <ul class="dropdown-menu dropdown-menu-end text-dark" aria-labelledby="dropdownMenuButton">
                  <li class="dropdown-item"> 
                    <%= link_to "View Profile", user_path(session[:user_id]), class: "nav-link text-dark" %>
                  </li>
                  <li class="dropdown-item">
                    <%= link_to "Modify Profile", edit_user_path(session[:user_id]), class: "nav-link text-dark" %>
                  </li>
                  <li class="dropdown-item">
                    <%= link_to "Logout", logout_path, data: { turbo: true, turbo_method: :delete }, class: "nav-link text-dark" %>
                  </li> 
                </ul>
              </div>
            </li>
            <li class="nav-item me-3">
              <%= image_tag "default_pfp.jpg", class: "profile-image" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Login", login_path, class: "nav-link text-dark" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign Up", new_user_path, class: "nav-link text-dark" %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <%= turbo_frame_tag "modal" %>

    <%= yield %>
  </body>
</html>
