<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Social Rails" %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-danger">
      <a class="navbar-brand ps-3 text-light" href="/">Social Rails</a>
    </nav>
    <%= yield %>
  </body>
</html>
